<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contacto</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body class="fondocolor">
    <header class="navbar">
        <h2 class="logo">Rappi</h2>

        <nav>
            <a href="../index.html" class="nav-btn">Inicio</a>
            <a href="servicio.html" class="nav-btn">Servicios</a>
        </nav>
    </header>
    <img src="../imagen/rappi.jfif" alt="">
    <h2>Formulario de contacto</h2>

		<form action="/action_page.php">
			  <label for="fname">Usuario</label>
			  <input type="text" id="fname" name="firstname" placeholder="Your username..">

			  <label for="lname">Password</label>
			  <input type="password" id="lname" name="lastname" placeholder="Your password..">

			  <label for="country">Rol</label>
			  <select id="country" name="country">
			    <option value="australia">Administrador</option>
			    <option value="canada">Jefe</option>
			    <option value="usa">Secretaria</option>
			  </select>
			  
			  <input type="submit" value="Submit">
		</form>
        
<div id="pie">
    <p>Página web realizada para fines netamente académicos por: Arevalo Mandon Diego Fernando © 2026</p>
    <a href="https://www.facebook.com/BancodeOccidente" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" width="35" alt="facebook">
    </a>
    <a href="https://www.pinterest.com" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Pinterest-logo.png" width="35" alt="pinterest">
    </a>
    <a href="https://www.instagram.com/bancodeoccidente" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" width="35" alt="instagram">
    </a>
</div>
</body>
</html>