<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>servicio</title>
    <link rel="stylesheet" href="../style.css">
</head>

<body class="fondocolor">
    <header class="navbar">
        <h2 class="logo">Rappi</h2>

        <nav>
            <a href="../index.html" class="nav-btn">Inicio</a>
            <a href="contacto.html" class="nav-btn">Contacto</a>
        </nav>
    </header>
    <img src="../imagen/servicio.jfif" alt="">
</body>

        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6726.4103759364025!2d-73.60911699515056!3d8.312476586982383!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1774041282326!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<div id="pie">
    <p>Página web realizada para fines netamente académicos por: Arevalo Mandon Diego Fernando © 2026</p>
    <a href="https://www.facebook.com/BancodeOccidente" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" width="35" alt="facebook">
    </a>
    <a href="https://www.pinterest.com" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Pinterest-logo.png" width="35" alt="pinterest">
    </a>
    <a href="https://www.instagram.com/bancodeoccidente" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" width="35" alt="instagram">
    </a>
</div>
</html>